# ignore everything
*

# include gitignore
!.gitignore

# include all .md files
!**.md

# include the reference folder and all the files in it
!ref/
!ref/*

# ignore .dsstore
ref/.DS_Store

# ignore rebuild cost & full float parts tracker
ref/rebuildCost.ods
ref/fullFloatPartsTracker.ods
